.task {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #bbb;
  background-color: #eee;
  margin-top: 25px;
}

.task-list {
  background-color: #f0f0f0;  
  padding: 15px; 
  
}

.internal-tasks {
  margin: 10px;
  padding: 10px;
  height: 40px;
  width: auto;
  border: 1px solid #bbb;
  background-color: #007ab8;
  margin-top: 25px;
  color: white;
  display: flex;
  align-items: center;
}

.internal-tasks__info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.internal-tasks__info > span { margin: 5px; }

.internal-tasks:hover {
  color: blue;
}

.task-count {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-weight: 700;
  text-align: left;
  margin: 10px;
  color: #007ab8;
}

.task-present {
width: 500px;
height: 500px;

}