.task {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #bbb;
  background-color: #eee;
  margin-top: 25px;
}

.task-list {
  background-color: slategray;  
  padding: 15px; 
  
}

.internal-tasks {
  margin: 10px;
  padding: 10px;
  height: 40px;
  width: auto;
  border: 1px solid #bbb;
  background-color: #eee;
  margin-top: 25px;
}

.internal-tasks:hover {
  color: blue;

}

.task-count {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-weight: 700;
}

.task-present {
width: 500px;
height: 500px;

}